.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
    color: gray;
}
.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

.inputOption > h4 {
    margin-left: 10px;
}