.sidebar {
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* margin-left: 18%; */
    margin-top: 5px;
    top: 80px;
    position: sticky;
    flex: 0.1;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    /* border: 1px solid black; */
}
.sidebar_avatar {
    margin-bottom: 10px !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    
}
.sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray ;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
 
}
.sidebar__top > img {

    margin-bottom: -30px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;

}
.sidebar__stat {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.sidebar__stat > p {
    color: gray;
    font-size: 13px;
    font-weight: 600px;
}
.sidebar__stat_num {
    font-weight: bold;
    color: #0a66c2 !important;
}
.sidebar__stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sidebar_title {
    margin-right: 10px;
    margin-left: 10px;
 

}
.sidebar_title_detail {
    margin-right: 10px;
    margin-left: 10px;
    color: gray;
    font-size: 12px !important;
}
.sidebar_bottom {
 text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px !important;

}
.sidebar__recentItem {
    display: flex;
    font-size: 13px;
    color:gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    
}
.sidebar__recentItem :hover {
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}
.sidebar__hash{
    margin-right: 3px;
    margin-left: 1px;

}